---
import NextJS from '../components/icons/NextJS.astro';
import Tailwind from '../components/icons/Tailwind.astro'; 
const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
}

const PROJECTS = [
    {
        title: 'Trinsk',
        description: 'Trinsk es una aplicativo web que recopila y analiza datos otorgados por la alcaldía de medellín , que permite identificar riesgosidad, zonas de gran accidentalidad de tráfico y visualización de data, que permite a cualquier usuario con conexión de internet utilizarlo para el uso personal e informativo que entrega el aplicativo. Este aplicativo, cuenta con una vista para celular y computadora , que se ajusta a las resoluciones de la pantalla, otorgando mejores diseños y una mejor experiencia de usuario.',
        link: '#',
        gitHub: '#',
        image: 'src/images/thinks.png',
        tags: [TAGS.NEXT,TAGS.TAILWIND]
    }
]
---
{
    PROJECTS.map(({image, title, description, tags}) => (
        <article>
            <h3 class ="text-2xl from-semibold text-yellow-200 mb-2">{title}</h3>
            <p class ="text-lg mb-4 text-pretty">{description}</p>
            <ul class="flex gap-x-2 flex-row mb-2">
                {tags.map((tag) => (
                <li>
                    <span
                    class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                    >
                        <tag.icon class="size-4" />
                        {tag.name}
                    </span>
                </li>
                ))}
            </ul>
            <img 
            class="rounded shadow-2xl shadow-white/20"
            src={image} alt={`Captura de pantalla del proyecto ${image}`}/>   
        </article>    
    ))
}